{% extends "layout.html" %}
{% block content %}
<div class="centered">
  <h1>Wine-o-meter API Documentation</h1>
  <p>
    Welcome to the Wine-o-meter API documentation 🙂
  </p>
  <div>
    <h2>What is Wine-o-meter ?</h2>
    <div>
      <p>
        Wine-o-meter is a application that allows wine producers to predict the quality score of their wine based on physicochemical inputs. The data-science team developed a machine learning model able to predict the global quality of a wine. The score (from 0 for very bad, to 10 for excellent) is predict from attributes of the wine. You can easely request the Wine-o-meter API endpoint.
    <h2>API endpoint</h2>
      <p>
        You can access to the endpoint here (/predict).<br/>
        This endpoint accepts POST method with JSON input data and it should return the predictions. We assume inputs will be always well formatted. 
      </p>
      <p>
        Example: <code>curl -i -H "Content-Type: application/json" -X POST -d '{"input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8]]}' https://wine-o-meter-api.herokuapp.com/predict</code>
      </p>
      <p>
        It returns a JSON like so: {"the prediction is":[6]}
        <pre>
          <code>
  {
    "prediction": "6"
  }
          </code>
        </pre>
      </p>
      

    </div>
  </div>
</div>
{% endblock %}